:root {
    --blue-gradient-color: linear-gradient(45deg, #003470, #9d00ff);
    --night-mode-text: block;
    --light-mode-text: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
    color: #fff;
}

/* night mode styles  */
.night-mode {
    --blue-gradient-color: linear-gradient(45deg, #001a36, #2d0048);
    --night-mode-text: none;
    --light-mode-text: block;
}

/* header  */

.header {
    background: var(--blue-gradient-color);
    padding: 20px 0;
}

.header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: block;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: transparent;
    border: 2px solid #fff;
}

.header-logo-img {
    transform: translate(50%, 50%);
    width: 50%;
    height: 50%;
}

.hamburger-btn {
    display: none;
    background: transparent;
    padding: 8.52px 10px;
    border-radius: 16px;
    background: transparent;
    border: 2px solid #fff;
    color: #FFF;
    cursor: pointer;
    z-index: 1;
}

.menu-icon {
    width: 26px;
    height: 26px;
}

@keyframes navbar-menu-animation {
    0% {
        transform: translateX(180px);
    }

    100% {
        transform: translateX(0px);
    }
}

.blur-filter{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
@keyframes blur-filter-active-animation {
    0%{
        backdrop-filter: blur(0px);
    }
    99%{
        backdrop-filter: blur(0px);
    }
    100%{
        backdrop-filter: blur(8px);
    }
}
.blur-filter-active{
    display: block;
    backdrop-filter: blur(8px);
    animation:blur-filter-active-animation 0.5s linear 1;
}
/* mobile navbar menu  */
.mobile-navbar-menu {
    display: none;
    flex-direction: column;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0px;
    padding: 20px;
    transform: translateX(0px);
    background: var(--blue-gradient-color);
    animation: navbar-menu-animation 0.5s linear 1;
    z-index: 2;
}

/* mobile navbar */
.mobile-navbar {
    display: none;
}

/* mobile navbar top  */
.mobile-navbar-menu-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}

.exit-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.exit-icon {
    width: 24px;
    height: 24px;
}

/* mobile night mode btn  */
.mobile-night-mode-btn {
    width: 100%;
    text-align: end;
    padding: 10px 0;
    margin-top: 20px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.mobile-header-list {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list-child a {
    color: #fff;
    font-size: 18px;
}

.header-list-child:not(:last-child) {
    margin-right: 25px;
}

.night-mode-btn {
    display: flex;
    width: 130px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    background: transparent;
    border: 2px solid #fff;
    color: #FFF;
    cursor: pointer;
}

.night-mode-text {
    display: var(--night-mode-text);
}

.light-mode-text {
    display: var(--light-mode-text);
}

.display-block {
    display: block;
}

/* footer  */
.footer {
    position: fixed;
    width: 100%;
    background: var(--blue-gradient-color);
    padding: 20px 0;
    bottom: 0;
}
.footer-parent {
    display: flex;
    justify-content: space-between;
}
.footer-first-child a {
    color: #fff;
}
.footer-first-child a:hover{
    text-decoration: underline;
}
.footer-title {
    color: #00ccff;
}
.footer-list {
    display: flex;
    margin-bottom: 4px;
}
.footer-list li:not(:last-child) {
    margin-right: 10px;
}
.footer-email {
    font-size: 18px;
}
.footer-email a {
    color: #00ccff;
}
.footer-email a :not(:last-child){
    margin-bottom: 4px;
}
.footer-email a:hover{
    text-decoration: underline;
}

/* media  */

@media screen and (max-width:840px) {
    .header {
        padding: 20px 0;
    }

    .logo-link {
        width: 67px;
        height: 67px;
    }

    .header-list-child a {
        font-size: 14px;
    }

    .header-list-child:not(:last-child) {
        margin-right: 18px;
    }
    .night-mode-btn {
        width: 98px;
        height: 38px;
        font-size: 11px;
    }
    .footer-title{
        font-size: 22px;
    }
    .footer-first-child a{
        font-size: 12px;
    }
    .footer-email{
        font-size: 16px;
    }
}

@media screen and (max-width:590px) {
    .logo-link {
        width: 60px;
        height: 60px;
    }

    .navbar-menu {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }
    .header-list-child:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .night-mode-btn {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }
    .footer-parent{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-first-child{
        margin-bottom: 24px;
    }
    .footer-title{
        font-size: 24px;
    }
    .footer-first-child a{
        font-size: 14px;
    }
    .footer-email{
        font-size: 18px;
    }
    .footer-list{
        justify-content: center;
    }
}